{{ define "home"}}
<!doctype html>
<html lang="en">
  {{template "page-header"}}
  <body data-signals='{{.}}' data-on-load="@get('stream')"> <!-- note: single-quote '' -->
    <div class="page-header">
      <h1>Click the button</h1>
      <p data-text="$message"></p>
    </div>

    <div class="main-content">
      <div class="buttons">
        <div class="button-group">
            <button data-on-click="@post('click/A')">🐕 (Dog)</button><br />
            Total Clicks: <span data-text="$counterA"></span>
        </div>
        <div class="button-group">
            <button data-on-click="@post('click/B')">🐈 (Cat)</button><br />
            Total Clicks: <span data-text="$counterB"></span>
        </div>
      </div>
      <div class="links">
        <a href="#" data-on-click="@get('chart')">Show Graph</a><br />
        <a href="#" data-on-click="@get('about')">About</a> 
      </div>
    </div>

    <div id="modal-container" data-show="$showModal">
      <div id="modal-content"></div>
    </div>
  </body>
</html>
{{ end }}

{{ define "page-header"}}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3"></script>
  <script src="assets/metrics.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">

  <title>Click the Button</title>
</head>
{{ end }}