{{ define "home"}}
<!doctype html>
<html lang="en" data-stream="/events"> <!-- Connect to SSE -->
  <head>
    <meta charset="utf-8">
    <title>Guess the password</title>

    <!-- Todo: Pull in locally  -->
    <script type="module"
            src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js">
    </script>
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <body>
    <div data-signals="{ 
        message: `Welcome! First to crack the code wins.`,
        showDialog: false,
        counter: 0,
        guess: ``,
    }" />

    <h1>Password Guessing Game</h1>
    <p data-text="$message"></p>

    <div data-indicator-posting>
      <input name="guess"
             placeholder="YOUR GUESS"
             data-bind="guess"
             required>
      <button data-on-click="@post('/guess', {
        retryMaxCount: 0
    })">Guess</button>
    </div>

    <h2 data-show="$showDialog">Winners</h2>
    <ol id="board"
        data-get="/leaderboard"
        data-transition="fade">
    </ol>

    <!-- Random tests -->
    <div data-on-load="$counter+=4">
        Local Clicks: <span data-text="$counter"></span><button data-on-click="$counter+=1">Add One</button>
    </div>
    <button data-on-click="@post('/signal')">signal</button>

  </body>
</html>
{{ end }}