{{ define "home"}}
<!doctype html>
<html lang="en" data-stream="/events"> <!-- Connect to SSE -->
  <head>
    <meta charset="utf-8">
    <title>Click the button</title>

    <!-- Todo: Pull in locally  -->
    <script type="module"
            src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js">
    </script>
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <body>
    <div data-signals="{ 
        message: `If you dare. . . `,
        showDialog: false,
        counter: 0,
    }" />

    <h1>Click the button</h1>
    <p data-text="$message"></p>

    
    <div data-on-load="$counter+=4">
        Total Clicks: <span data-text="$counter"></span>
    </div>

    <button data-on-click="@post('/click')">
      Click
    </button><br />
    <br />

    <a href="#">Notable Clicks</a><br />
    <a href="#">About</a>


    <h2 data-show="$showDialog">Winners</h2>
    <ol id="board"
        data-get="/leaderboard"
        data-transition="fade">
    </ol>

    <!-- Random tests -->
    <button data-on-click="@post('/signal')">signal</button>
    <button data-on-click="@post('/signal2')">signal2</button>
    <button data-on-click="@post('/signal3')">signal3</button>

  </body>
</html>
{{ end }}